*{
    margin:0;
    padding:0;
}

.Welcome{
    float: left;
    width: 40%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(IMG_0707.JPG) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: absolute;
}

.form{
    float: right;
    width: 60%;
}

h2{
    color: #ffffff;
    top:35%;
    font-size: 50px;
    font-weight: 600;
    word-spacing: 4px;
    text-align: center;
    position: relative;

}

p{
    color: #ffffff;
    position: relative;
    width: 50%;
    line-height: 150%;
    text-align: center;
    color: #fff;
    font-weight: 200;
    margin-left: 140px;
    top: 37%;
}

.alt{
    top:37%;
    left:40%;
    position: relative;
}

.alt a{
    padding: 8px 40px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 500;
}

.header{
    margin-right: 290px;
    margin-top: 60px;
}

.head{
    margin-left: 150px;
    margin-bottom: 10px;
    color: #5e0a2d ;
    font-weight:700;
    font-size: 35px;
}

.icon-text{
    font-size: 17px;
    color: #555;
    width: 100px;
    margin-left: 300px;
    margin-top: 10px;
}

.form-container{
    width:500px;
    margin-left: 150px;
}

.icon{
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 10px;
    font-size: 20px;
    width:40px;
    border-radius: 50%;
    text-align: center;
}

.icon:first-of-type{
    margin-left:200px;
}
.control{
    background: transparent;
    border: 0px transparent;
    width: 350px;
    border-radius: 0px;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #555; 
}

.control:before{
    content:"";
    display: hidden;
}

.control:focus{
    outline: none;
}

.btn-success{
    margin-top: 30px;
    margin-left:100px ;
    width: 130px;
    font-size: 15px;
    border-radius: 40px;
    transition: color 0.5s, border 0.5s; background-color: 0.5s;
}

.btn-success:hover{
    border:1px solid rgb(37, 209, 37);
    color:rgb(37, 209, 37);
    background-color: #fff;
}

.fa-facebook{
    background-color:#55acee;
    color:#fff;
    transform: scale(1.2);
    transition: background-color 0.5s, color 0.5s;
} 

.fa-facebook:hover{
    background-color: #fff;
    color: #55acee;
    transform:scale(0.9)
}

.fa-google{
    background-color:#db3236;
    color:#fff;
    transform: scale(1.2);
    transition: background-color 0.5s, color 0.5s;
} 

.fa-google:hover{
    background-color: #fff;
    color: #db3236;
    transform:scale(0.9)
}

.fa-apple{
    background-color:black;
    color:#fff;
    transform: scale(1.2);
    transition: background-color 0.5s, color 0.5s;
} 

.fa-apple:hover{
    background-color: #fff;
    color: black;
    transform:scale(0.9)
}